{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "indent": ["error", 4],
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off"
  }
}
